@charset "utf-8";
@font-face{
    font-family: "notoS";
    src: url(../font/Noto_Serif_KR/NotoSerifKR-VariableFont_wght.ttf);
}
*{
    font-family: "notoS";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,ol,li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000;
}
img{
    vertical-align: top;
    border: 0;
    max-width: 100%;
}
.clear::after{
    content: "";
    display: block;
    clear: both;
}
#header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 120px;
    z-index: 1;
}
#header .headTop{
    height: 50px;
    background: #ddd;
}
#header .top{
    width: 1300px;
    height: 50px;
    margin: 0 auto;
}
#header .top>a{
    display: block;
    width: 25px;
    height: 17px;
    margin-top: 15px;
    float: left;
}
#header .headTop .util{
    float: right;
    text-align: center;
}
#header .headTop .util li{
    display: inline-block;
    padding: 0 10px;
    position: relative;
}
#header .headTop .util li a{
    display: block;
    height: 50px;
    font-size: 12px;
    line-height: 50px;
    color: #212121;
}
#header .headTop .util li a::after{
    content: "";
    display: block;
    width: 1px;
    height: 15px;
    background-color: #999;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
#header .headTop .util li:last-child a::after{
    display: none;
}
/* //head Top */
#header .headBtm{
    border-bottom: 1px solid #999;
    background-color: #fff;
}
#header .bottom{
    width: 1300px;
    height: 70px;
    margin: 0 auto;
    position: relative;
    /* nav */
}
#nav{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 11;
}
#nav>ul>li{
    float: left;
    margin-right: 25px;
    position: relative;
    /* sub */
}
#nav>ul>li:last-child{
    margin-right: 0;
}
#nav>ul>li>a{
    display: block;
    font-size: 15px;
    color: #212121;
    line-height: 69px;
    transition: all .5s;
}
#nav>ul>li>a:hover{
    color: #999;
}
#nav>ul>li:hover .sub{
    display: block;
}
#nav .sub{
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
}
#nav .sub>li{
    position: relative;
    /* subDep */
}
#nav .sub>li>a{
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    font-size: 12px;
    color: #212121;
    background-color: #fff;
    transition: all .5s;
    position: relative;
    /* span */
}
#nav .sub>li>a:hover{
    color: #fff;
    background-color: #000;
}
#nav .sub>li:hover .subDep{
    display: block;
}
#nav .subDep{
    display: none;
    position: absolute;
    right: -100%;
    top: 0;
}
#nav .subDep li a{
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    font-size: 12px;
    color: #212121;
    background-color: #fff;
    transition: all .5s;
}
#nav .subDep li a:hover{
    color: #fff;
    background-color: #000;
}
#nav span{
    display: inline-block;
    position: absolute;
    right: 15px;
}
#section{
    width: 100%;
    height: auto;
    margin-top: 120px;
}
/* //nav header */
#article{
    width: 1300px;
    height: 1005px;
    margin: 15px auto;
    padding: 15px 25px;
}
#article .left{
    width: 610px;
    height: 975px;
    float: left;
    background: url(../image/article1.png) no-repeat top left/cover;
    overflow: hidden;
    position: relative;
    /* txt */
}
#article .left img{
    max-width: 110%;
    opacity: 0;
    transition: all .5s;
}
#article .left .txt{
    position: absolute;
    top: 0;
    width: 610px;
    height: 975px;
    text-align: center;
    padding: 450px 0;
    background-color: rgba(0,0,0,.5);
}
#article .left:hover img{
    opacity: 1;
}
#article .left .txt span{
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    line-height: 2;
}
/* //right */
#article .right{
    width: 610px;
    height: 975px;
    float: right;
    text-align: center;
}
#article #logo{
    width: 610px;
    height: 425px;
    text-align: center;
    padding: 158px 0;
}
#article .right .tab{
    width: 610px;
    height: 50px;
}
#article .right .tab ul li{
    float: left;
    margin-right: 1px;
    width: 23.5%;
}
#article .right .tab li:last-child{
    margin-right: 0;
    width: 29%;
}
#article .right .tab li a{
    display: block;
    height: 50px;
    font-size: 15px;
    color: #fff;
    background-color: #363636;
    padding: 15px 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: all .5s;
}
#article .right .tab li a:hover{
    background-color: #fff;
    color: #363636;
    border: 1px solid #363636;
}
#article .right .txtBox1{
    width: 610px;
    height: 267px;
    margin-top: 15px;
    background: #e9e9e9;
    padding: 60px 0;
}
#article .right .title{
    font-size: 22px;
    font-weight: 600;
    color: #363636;
    padding-bottom: 24px;
}
#article .right .title span{
    width: 100%;
    height: 100%;
    padding: 0 15px;
    position: relative;
    /* after */
}
#article .right .title span::after{
    position: absolute;
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background-color: #363636;
    right: 0;
    top: 0;
}
#article .right .title span:last-child:after{
    display: none;
}
#article .right .txtBox1{
    font-size: 14px;
    font-weight: 300;
    color: #363636;
    line-height: 1.5;
}
#article .right .txtBox2{
    height: 215px;
    background-color: #5d5d5d;
    font-size: 12px;
    padding: 92px 20px;
    color: #eee;
    line-height: 1.5;
}
/* //article */
.cont1,
.cont2,
.cont3{
    width: 1300px;
    height: 433px;
    margin: 0 auto;
}

#section .main{
    width: 392px;
    height: 392px;
    border-radius: 50%;
    background: url(../image/cont1_bread_main.png) no-repeat center/392px 392px;
    position: relative;
    overflow: hidden;
    margin: 0 109px 60px;
    float: left;
}
#section .cont2 .main{
    background-image: url(../image/cont1_gift_main.png);
}
#section .cont3 .main{
    background-image: url(../image/cont3_cake_main.png);
}
#section .main a{
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    line-height: 392px;
    text-align: center;
    color: #e5e7eb;
    font-size: 18px;
    opacity: 0;
    transition: all .5s;
}
#section .main:hover a{
    opacity: 1;
}
/* hover */
/* //left */
#section .right{
    float: right;
    text-align: center;
}
#section .right .title dt{
    color: #80301b;
    font-size: 26px;
    font-weight: 800;
}
#section .right .title dd{
    color: #363636;
    font-size: 14px;
    margin: 24px 0 40px;
}
#section .right .slideWrap{
    width: 610px;
    height: 340px;
    overflow: hidden;
}
#section .right .slide{
    width: 1220px;
    height: 340px;
    animation: slide 10s infinite ease-in-out backwards;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-609px);
    }
    100%{
        transform: translateX(0);
    }
}
#section .right .slide li{
    width: 189px;
    height: 281px;
    margin: 0 7px;
    float: left;
}
#section .right .slide li>a>img{
    width: 187px;
    height: 187px;
    border: 1px solid #ddd;
}
#section .right .slide li dt{
    color: #363636;
    font-size: 15px;
    margin-top: 15px;
}
#section .right .slide li dd{
    font-size: 15px;
    color: #b27c69;
    margin-bottom: 10px;
}
#section .right .slide .btn>img{
    width: 43px;
    height: 23px;
}
/* //content1-3 */
.bottomWrap{
    width: 1250px;
    height: 590px;
    text-align: center;
    margin: 0 auto 80px;
    overflow: hidden;
}
.bottomWrap .tage{
    display: inline-block;
    width: 100%;
    color: #363636;
    font-size: 26px;
    font-weight: 300;
    padding-bottom: 30px;
    border-bottom: 1px solid #363636;
    overflow: hidden;
}
.bottomWrap .bottom{
    width: 200%;
    height: 464px;
    padding: 16px 0;
    border-bottom: 1px solid #ddd;
    animation: moving 7s ease-in-out infinite forwards;
}
@keyframes moving{
    0%{
        transform: translateX(0)
    }
    100%{
        transform: translateX(-1250px)
    }
}
.bottomWrap .bottom li{
    float: left;
    margin: 4px;
}
.bottomWrap .bottom li a{
    display: block;
    width: 242px;
    height: 431px;
}
#footer{
    width: 100%;
    height: 284px;
    background-color: #383838;
    padding: 35px 0;
    text-align: center;
}
#footer .fSns a{
    color: #fff;
    font-size: 13px;
}
#footer .title{
    margin: 10px 0;
    font-size: 12px;
    color: #fff;
    font-weight: 400;
}
#footer .fCopy li span{
    font-size: 12px;
    font-weight: 300;
    color: #fff;
}
#footer .fCopy li:nth-child(2) span:nth-child(2){
    margin-left: 25px;
}
#footer .fMenu{
    margin-top: 10px;
}
#footer .fMenu li{
    display: inline-block;
    margin-right: 10px;
}
#footer .fMenu a{
    display: block;
    font-size: 12px;
    font-weight: 300;
    color: #fff;
}
#footer .fMenu li:nth-child(2) a{
    font-weight: 500;
    text-decoration: underline;
}